ansi2html @ file:///D:/bld/ansi2html_1667056720301/work
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
blosc2==2.0.0
Brotli @ file:///D:/bld/brotli-split_1687884251065/work
certifi==2023.7.22
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click @ file:///D:/bld/click_1666770360789/work
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.4
contourpy==1.1.0
cycler==0.11.0
Cython==3.0.0
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1692245796933/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1689427833807/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1645162180756/work
debugpy==1.6.7.post1
decorator==5.1.1
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.18.0
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1682966527207/work
fonttools==4.42.0
future==0.18.3
hyperopt==0.2.7
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
ipykernel==6.25.1
ipython==8.14.0
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jedi==0.19.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.4
MarkupSafe @ file:///D:/bld/markupsafe_1685769192208/work
matplotlib==3.6.2
matplotlib-inline==0.1.6
msgpack==1.0.5
nbformat==5.7.0
nest-asyncio==1.5.7
networkx==3.1
numexpr==2.8.5
numpy @ file:///D:/bld/numpy_1691056618426/work
openpyxl==3.1.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas==1.5.2
parso==0.8.3
pickleshare==0.7.5
Pillow==10.0.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
plotly==5.14.1
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
Pygments==2.16.1
pyparsing==3.1.1
PySocks @ file:///D:/bld/pysocks_1648857426124/work
python-dateutil==2.8.2
pytz==2023.3
pywin32==306
pyzmq==25.1.1
referencing==0.30.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
retrying==1.3.3
rpds-py==0.9.2
scikit-learn @ file:///D:/bld/scikit-learn_1688116465061/work
scipy==1.9.3
six==1.16.0
stack-data==0.6.2
tables==3.8.0
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
wcwidth==0.2.6
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1692105915497/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1666755058235/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
